<body id="home">
  <div id="hero">
    <div class="container">
      <div id="mobile-header">
        <div class="row">
          <div class="form-inline">
            <h1>InstaFind</h1>
          </div>
        </div>
      </div>
      <br><br>
      <h1 class="hero-text animated fadeInDown">
         Drive customers into your stores.
      </h1>
      <div class="row">
        <div class="col-md-8">
          <p class="hero-text animated fadeInDown">
            We designed InstaFind to find specific items simple, convenient
            and fun. Quickly search or scan items to access real-time inventory,
            price and aisle location at participating stores. 
          </p>
        </div>
      </div>
      
      
      <!-- <p class="sub-text animated fadeInDown">
        Get a complete existing website with great design up and running in no time.
      </p> -->
      <div class="cta animated fadeInDown">
        <div class="row">
          <div class="col-md-8">
            <div class="form-inline">
              <div class="btn-green1">
                <%= mail_to "omar@instafindapp.com", "Send Us a Message" %>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="coming-soon">
          <p class="inline">Coming soon to:</p><%= image_tag 'icon-apple.png', class: "img-responsive inline" %> <%= image_tag 'icon-android.png', class: "img-responsive inline" %>
        </div> -->
      </div>
      
      <div class="img"></div>
    </div>
    
  </div>

  <!-- <div id="features">
    <div class="container">
      <div class="row feature backwards">
        <div class="info center">
          <h4>Never wait in long or slow lines.</h4>
          <p class="col-sm-8 col-sm-offset-2">
            With the Self-Checkout app you scan all your items, coupons, and/or rewards cards so when you arrive at the dedicated self-checkout register the only thing left is to pay.
          </p>
        </div>
      </div>
    </div>    
  </div> -->

  <div id="features2">
    <div class="container">
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Get real-time information</h4>
          <p>
            Stop guessing, hoping, or calling your local stores for specific items. InstaFind lets you see everything on your phone so before you visit the store you'll know exactly what you need and where it's at.
          </p>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("ralphs.png", class: "img-responsive cool") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-8 info">
          <h4>Makes repeat shopping simple</h4>
          <p>
            With the shopping list, InstaFind lets you quickly pull up the information for your favorite items so you don't need to scan or search for the same items everytime.
          </p>
        </div>
        <div class="col-md-4 image">
          <%= image_tag("SearchResults.png", class: "img-responsive") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Search by store or item</h4>
          <p>
            InstaFind lets you find what you're looking for in multiple ways. Either search or scan by item, browse by category or popular items, or search by store.
          </p>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("ralphs.png", class: "img-responsive cool") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-8 info">
          <h4>Add</h4>
          <p>
            Once the item is scanned you can update the quantity or just add it to your cart.
          </p>
        </div>
        <div class="col-md-4 image">
          <%= image_tag("ItemDetails.png", class: "img-responsive") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Save</h4>
          <p>
            Once you have added all your items to your cart and are ready to pay click on the "Create QR Code" button.
          </p>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("list.png", class: "img-responsive cool") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-8 info">
          <h4>Browse</h4>
          <p>
            Walk to the our dedicated self-checkout line, place the QR code in front of the scanner and pay.
          </p>
        </div>
        <div class="col-md-4 image">
          <%= image_tag("items.png", class: "img-responsive") %>
        </div>
      </div>
    </div>    
  </div>
    
  <div id="cta">
    <h2 class="green">Contact Us</h2>
    <p>
      We'd love to hear from you! Get in touch with us and we'll get back to you within 2 business days.
    </p>
    <div class="center">
      <div class="form-inline">
        <%= mail_to "omar@instafindapp.com", "Send Us a Message" %>
      </div>
    </div>
  </div>

  
    
</body>