<body id="home">
  <div id="hero">
    <div class="container">
      <div id="mobile-header">
        <div class="row">
          <div class="form-inline">
            <h1>ShopNearby</h1>
          </div>
        </div>
      </div>
      <br><br>
      <h1 class="hero-text animated fadeInDown">
         Get customers into your retail stores.
      </h1>
      <div class="row">
        <div class="col-md-8">
          <p class="hero-text animated fadeInDown">
            We designed ShopNearby to increase foot-traffic for retailers. With just a few clicks, customers get real-time access to inventory, price and aisle location within each store.
          </p>
        </div>
      </div>
      
      
      <!-- <p class="sub-text animated fadeInDown">
        Get a complete existing website with great design up and running in no time.
      </p> -->
      <div class="cta animated fadeInDown">
        <div class="row">
          <div class="col-md-8">
            <div class="form-inline">
                <%= mail_to "omar@shopnearbyapp.com", "Send us an email" %>
            </div>
          </div>
        </div>
        <!-- <div class="coming-soon">
          <p class="inline">Coming soon to:</p><%= image_tag 'icon-apple.png', class: "img-responsive inline" %> <%= image_tag 'icon-android.png', class: "img-responsive inline" %>
        </div> -->
      </div>
      
      <div class="img"></div>
    </div>
    
  </div>

  <div id="features">
    <div class="container">
      <div class="row feature">
        <div class="info center">
          <h4>Benefits</h4>
          <div class="col-md-4">
            <h3>Benefit 1</h3>
            <p>Hello World</p>
          </div>
          <div class="col-md-4">
            <h3>Benefit 1</h3>
            <p>Hello World</p>
          </div>
          <div class="col-md-4">
            <h3>Benefit 1</h3>
            <p>Hello World</p>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div id="features2">
    <div class="container">
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Search, browse, or scan by item</h4>
          <p>
            With ShopNearby, customers find items they are looking for from different retailers in one app. Customers are reluctant to download every retailer app or visit each website. ShopNearby removes the time-consuming, frustrating, and inconvenient task of finding items available at nearby stores.
          </p><br>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("ralphs.png", class: "img-responsive cool") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-8 info">
          <h4>Search or browse by store</h4>
          <p>
            Get your store and your items in front of millenials, moms, young families, and generation x'ers.
          </p><br>
        </div>
        <div class="col-md-4 image">
          <%= image_tag("SearchResults.png", class: "img-responsive") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Real-time access to inventory, price and aisle location within the store</h4>
          <p>
            By providing mobile shoppers with real-time access to your inventory, they can purchase items and receive them immediately instead of having someone deliver it. Also, shoppers can purchase items at more hours throughout the day than a delivery person.
          </p><br>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("ralphs.png", class: "img-responsive cool") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-8 info">
          <h4>Shopping list</h4>
          <p>
            Compared to competitors like InstaCart, Google Express, or Postmates. By getting customers through your doors, they are more likely to spend more than they planned versus shopping on their phone.
          </p><br>
        </div>
        <div class="col-md-4 image">
          <%= image_tag("SearchResults.png", class: "img-responsive") %>
        </div>
      </div>
    </div>    
  </div>
    
  <div id="cta">
    <h2 class="green">Contact Us</h2>
    <p>
      We'd love to hear from you! Get in touch with us and we'll get back to you within 2 business days.
    </p>
    <div class="center">
      <div class="form-inline">
        <%= mail_to "omar@shopnearbyapp.com", "Send Us a Message" %>
      </div>
    </div>
  </div>

  
    
</body>