<body id="home">
  <div id="hero">
    <div class="container">
      <div id="mobile-header">
        <h1>Self-Checkout</h1>
      </div>
      <h1 class="hero-text animated fadeInDown">
         Increase foot-traffic and improve <br/>
         the customers shopping experience.
      </h1>
      <!-- <p class="sub-text animated fadeInDown">
        Get a complete existing website with great design up and running in no time.
      </p> -->
      <div class="cta animated fadeInDown">
        <div class="row">
          <div class="col-md-8">
            <div class="form-inline">
              <%= render 'form' %>
            </div>
          </div>
        </div>
        <div class="coming-soon">
          <p class="inline">Coming soon to:</p><%= image_tag 'icon-apple.png', class: "img-responsive inline" %> <%= image_tag 'icon-android.png', class: "img-responsive inline" %>
        </div>
      </div>
      
      <div class="img"></div>
    </div>
    <div class="winner">
      <h6></h6>
    </div>
  </div>

  <div id="features">
    <div class="container">
      <div class="row feature backwards">
        <div class="info center">
          <h4>Never wait in long or slow lines.</h4>
          <p class="col-sm-8 col-sm-offset-2">
            With the Self-Checkout app you scan all your items, coupons, and/or rewards cards so when you arrive at the dedicated self-checkout register the only thing left is to pay.
          </p>
        </div>
      </div>
    </div>    
  </div>

  <div id="features2">
    <div class="container">
      <div class="row feature">
        <div class="col-md-6 info">
          <h4>Search</h4>
          <p>
            Find the products you’re looking for before you go to the store.
          </p>
        </div>
        <div class="col-md-6 image">
          <%= image_tag("search2.png", class: "img-responsive") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-6 info">
          <h4>Scan</h4>
          <p>
            After you enter the store, scan each product you want to buy using the barcode scanner in the app.
          </p>
        </div>
        <div class="col-md-6 image animated fadeInLeft">
          <%= image_tag("scan2.png", class: "img-responsive cool") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-6 info">
          <h4>Add</h4>
          <p>
            Once the product is scanned you can update the quantity or just add it to your cart.
          </p>
        </div>
        <div class="col-md-6 image">
          <%= image_tag("item2.png", class: "img-responsive") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-6 info">
          <h4>Create</h4>
          <p>
            Once you have added all your products to your cart and are ready to pay click on the "Create QR Code" button.
          </p>
        </div>
        <div class="col-md-6 image animated fadeInLeft">
          <%= image_tag("cart2.png", class: "img-responsive cool") %>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-6 info">
          <h4>Pay</h4>
          <p>
            Walk to the our dedicated self-checkout line, place the QR code in front of the scanner and pay.
          </p>
        </div>
        <div class="col-md-6 image">
          <%= image_tag("instructions.png", class: "img-responsive") %>
        </div>
      </div>
    </div>    
  </div>
    
  <div id="cta">
    <h2 class="green">Contact Us</h2>
    <p>
      We'd love to hear from you! Get in touch with us and we'll get back to you within 2 business days.
    </p>
    <div class="center">
      <div class="form-inline">
        <%= mail_to "omar@selfche.com", "Send Us a Message" %>
      </div>
    </div>
  </div>

  
    
</body>