<body id="home">
  <div id="hero">
    <div class="container">
      <div id="mobile-header">
        <div class="row">
          <div class="form-inline">
            <h1>ShopNearby</h1>
          </div>
        </div>
      </div>
      <br><br>
      <h1 class="hero-text animated fadeInDown">
         Shopping in-store made<br>
         easy, simple, and convenient.
      </h1>
      <div class="row">
        <div class="col-md-8">
          <p class="hero-text animated fadeInDown">
            Get real-time access to inventory, pricing and aisle location within each store for every item. Using out Universal Shopping Cart you can add items from multiple stores to your cart, checkout once and pickup your items at each store.
          </p>
        </div>
      </div>
      
      
      <!-- <p class="sub-text animated fadeInDown">
        Get a complete existing website with great design up and running in no time.
      </p> -->
      <div class="cta animated fadeInDown">
        <div class="row">
          <div class="col-md-8">
            <div class="form">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email"><br>
                <button type="submit" class="btn-green1">Join the Pre-Launch List</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="coming-soon">
          <p class="inline">Coming soon to:</p><%= image_tag 'icon-apple.png', class: "img-responsive inline" %> <%= image_tag 'icon-android.png', class: "img-responsive inline" %>
        </div> -->
      </div>
      
      <div class="img"></div>
    </div>
    
  </div>

  <div id="features">
    <div class="container">
      <div class="row feature">
        <div class="info center">
          <h4 class="benefits">Benefits</h4>
          <div class="col-md-4">
            <%= image_tag 'Shop-50.png', class: "img-responsive inline" %>
            <p>Multiple Retail Apps in One</p>
            <p>We combine major retailers apps into one so you don't have to download a bunch of apps or visit a bunch of websites.</p>
          </div>
          <div class="col-md-4">
            <%= image_tag 'Ingredients-50.png', class: "img-responsive inline" %>
            <p>Real-time Data</p>
            <p>Get real-time access to inventory, pricing, and aisle location within the store for every item. No more guessing, hoping, or wandering through the store.</p>
          </div>
          <div class="col-md-4">
            <%= image_tag 'User Groups-50.png', class: "img-responsive inline" %>
            <p>Universal Shopping Cart</p>
            <p>Add items to your shopping cart from multiple retailers, checkout once, and pickup your items at each store.</p>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div id="features2">
    <div class="container">
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Search, browse, or scan by item</h4>
          <p>
            With ShopNearby, customers find items available at stores nearby from different retailers. ShopNearby removes the time-consuming, frustrating, and inconvenient task of finding items available at nearby stores. 
          </p><br>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("items.png", class: "img-responsive cool") %>
        </div>
      </div>
      <!-- <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-8 info">
          <h4>Search or browse by store</h4>
          <p>
            Leveraging your existing technology, customers access real-time inventory, price, and aisle location at each store or they can buy online and pickup in store. 
          </p><br>
        </div>
        <div class="col-md-4 image">
          <%= image_tag("ralphs.png", class: "img-responsive") %>
        </div>
      </div> -->
      <!-- <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Real-time access to inventory, price and aisle location within the store</h4>
          <p>
            By providing mobile shoppers with real-time access to your inventory, they can buy items and receive and pick them up in-store instead of having someone deliver it. Also, shoppers can purchase items at more hours throughout the day than a delivery person.
          </p><br>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("razors.png", class: "img-responsive cool") %>
        </div>
      </div> -->
<!--       <div class="divider"></div>
      <div class="row feature">
        <div class="col-md-8 info">
          <h4>Shopping list</h4>
          <p>
            Compared to competitors like InstaCart, Google Express, or Postmates. By getting customers through your doors, they are more likely to spend more than they planned versus shopping on their phone.
          </p><br>
        </div>
        <div class="col-md-4 image">
          <%= image_tag("list.png", class: "img-responsive") %>
        </div>
      </div> -->
      <!-- <div class="divider"></div>
      <div class="row feature backwards">
        <div class="col-md-8 info">
          <h4>Pass-Through Model</h4>
          <p>
            Leveraging proprietary technology, customers checkout in-app using our shopping cart while you process payments, retain complete customer data and remain in control. When customers choose the "Buy online, pickup in store" they will receive an email and a receipt from you. Unlike the competition where they build relationships with customers, we help you build the relationship with existing and new customers.
          </p><br>
        </div>
        <div class="col-md-4 image animated fadeInLeft">
          <%= image_tag("cart.png", class: "img-responsive cool") %>
        </div>
      </div> -->
    </div>    
  </div>
    
  <div id="cta">
    <h2 class="green">Contact Us</h2>
    <p>
      We'd love to hear from you! Get in touch with us and we'll get back to you in 24 hours or less.
    </p><br>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email"><br>
            <button type="submit" class="btn-green1">Join the Pre-Launch List</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  
<script>window.jQuery || document.write('<scr' + 'ipt src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"><\/sc' + 'ript>')</script>
<script>window.$kol_jquery = window.jQuery</script>
<script src="https://kickoffpages-kickofflabs.netdna-ssl.com/widgets/1.7.0/kol_any_form.js"></script>
<script src='https://kickoffpages-kickofflabs.netdna-ssl.com/w/59101/78743.js'></script>
</body>