<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>ShopNearby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="fo-verify" content="35641d69-9f29-4bf7-a2cd-f2a5972276f9">

    <!-- javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= favicon_link_tag 'favicon2.png' %>

    <%= render 'layouts/bootstrap' %>
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','//connect.facebook.net/en_US/fbevents.js');

		fbq('init', '152627125103215');
		fbq('track', "PageView");</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=152627125103215&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
		
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>



