<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>ShopNearby</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="fo-verify" content="35641d69-9f29-4bf7-a2cd-f2a5972276f9">

  <!-- javascript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="js/theme.js"></script>
  <link href="/assets/favicon.png" rel="shortcut icon" type="image/png" />

  <%= render 'layouts/bootstrap' %>
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
